body {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  font-family: 'Cabin Condensed', sans-serif;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

header {
  background-color: rgba(255,255,255,0.8);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

header h1 {
  background: -moz-linear-gradient(45deg, rgba(0,0,128,1) 10%, rgba(255,0,223,1) 50%, rgba(255,255,0,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(0,0,128,1) 10%, rgba(255,0,223,1) 50%, rgba(255,255,0,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,0,128,1) 10%, rgba(255,0,223,1) 50%, rgba(255,255,0,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,0,128,1) 10%, rgba(255,0,223,1) 50%, rgba(255,255,0,1) 100%);
  background: linear-gradient(45deg, rgba(0,0,128,1) 10%, rgba(255,0,223,1) 50%, rgba(255,255,0,1) 100%);
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 700;
  left: 50%;
  height: 35%;
  min-height: 200px;
  padding-top: 4%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  top: 12.5%;
  width: 60%;
  z-index: 100;
}

header .title {
  color: #fff;
  display: block;
  font-size: 3em;
  text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

header .start {
  background-color: #a00;
  background: -moz-linear-gradient(45deg, rgba(192,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
  background: -webkit-linear-gradient(45deg, rgba(192,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
  background: -o-linear-gradient(45deg, rgba(192,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
  background: -ms-linear-gradient(45deg, rgba(192,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
  background: linear-gradient(0, rgba(192,0,0,1) 0%, rgba(255,255,255,0.4) 100%);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  color: rgba(255,255,0,1);
  display: inline-block;
  font-size: 1em;
  letter-spacing: 2px;
  margin: 4% auto 1%;
  padding: 10px 20px;
  text-transform: uppercase;
}

.options, .options li, .cards, .card {
  list-style-type: none;
}

.options{
  margin: 0 0 2%;
  padding: 0 1% 0 0;
  text-align: right;
}

.options li, .btn {
  display: inline-block;
}

.options li {
  margin-left: 5px;
}

.btn {
  background-color: #a00;
  background: -moz-linear-gradient(45deg, rgba(192,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
  background: -webkit-linear-gradient(45deg, rgba(192,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
  background: -o-linear-gradient(45deg, rgba(192,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
  background: -ms-linear-gradient(45deg, rgba(192,0,0,1) 0%, rgba(255,255,255,0.5) 100%);
  background: linear-gradient(0, rgba(192,0,0,1) 0%, rgba(255,255,255,0.8) 100%);
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  color: rgba(255,255,0,1);
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 700;
  padding: 5px 10px;
  text-decoration: none;
}

.cards {
  align-items: stretch;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Cabin Condensed', sans-serif;
  margin: 0;
  padding: 0;
}
.cards .card {
  background-color: rgba(255,255,255,1);
  border: 10px solid #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  flex: 1 1 12%;
  margin: 10px 1%;
  min-height: 100px;
  padding: 1px;
  position: relative;
  perspective: 1000px;
  transition: all 0.6s ease-in;
  transform-style: preserve-3d;
}
.cards .card .number {
  font-size: 3.5em;
  font-weight: 700;
  max-height: 50%;
  text-align: center;
  width: 50%;
}
.cards .card.selected {
  transform: rotateY(180deg);
}
.cards .card.equal .back {
  background-color: #00aa00;
}
.cards .card.not-equal .back {
  background-color: #aa0000;
}
.cards .card.hide, .cards .card.hide .front {
  visibility: hidden;
}
.cards .front, .cards .back {
  align-items: center;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  transition: all 0.6s ease-in;
  top: 0;
  width: 100%;
}
.cards .front {
  background-color: rgba(0, 0, 170, 0.7);
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 70px 120px;
  transform: rotateY(0deg);
  z-index: 2;
}
.cards .back {
  background-color: #fff;
  transform: rotateY(180deg);
}
